* {
    font-family: "Source Sans Pro";
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* HEADER CSS */
header {
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.16);
    overflow: auto;
}

.header-logo {
    float: left;
    width: auto;
    height: 60px;
    padding: 20px 120px 20px 140px;
}

.header-navmenu {
    float: left;
    font-size: 20px;
    font-weight: 600;
    display: block;
}

.header-navmenu a {
    padding: 37px 45px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: all 0.5s;
    color: #707070;
    line-height: 100px;
}

.btn:hover:hover {
    background-color: rgba(235, 235, 235, 0.5);
}

/* ------------------------ heading content start---------------- */
.heading-container {
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
    background-color: rgb(208 208 208 / 30%);
}

.heading-img {
    grid-column-start: 1;
    grid-column-end: 2;
    margin: auto;
    text-align: center;
}

.heading-img img {
    width: 70%;
    border-radius: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.heading-txt {
    align-content: center;
    padding-top: 20px;
    border-bottom: 15px solid #8fe0d6;
}

.heading-txt h4 {
    font-size: 40px;
    margin-bottom: 0;
    color: #707070;
}

.heading-txt p {
    width: 70%;
    font-size: 20px;
    text-align: left;
    color: lightslategrey;
}

.btn-heading:hover,
.btn-contact:hover {
    cursor: pointer;
    opacity: 0.8;
}

.btn-heading a,
.btn-contact a {
    color: #fff;
    padding: 10px 0;
}

/* ------------------------ heading content end---------------- */
/* -------------------contact start------------------------- */
.contact {
    background-color: rgb(208 208 208 / 30%);
}

.border-contact {
    border-top: 15px solid #afafaf;
    width: 45%;
    float: right;
}

.contact-container {
    padding: 80px 90px;
}

.contact-container h4 {
    font-size: 30px;
    color: #afafaf;
}

.contact-container h3 {
    font-size: 40px;
    color: #707070;
    padding: 13px 0;
}

.contact-container p {
    width: 70%;
    font-size: 20px;
    text-align: left;
    color: lightslategrey;
}


/* -------------------contact end------------------------- */

#Footer_Background {
    fill: rgba(249, 249, 249, 1);
}

.Footer_Background {
    position: absolute;
    overflow: visible;
    width: 100%;
    height: 268px;
}

#Logo_Progate {
    position: absolute;
    width: 300px;
    height: 97.969px;
    left: 150px;
    top: 400px;
    overflow: visible;
}

#Copyright___Your_Company_2021_ {
    left: 38%;
    top: 88%;
    position: absolute;
    overflow: visible;
    width: 430px;
    white-space: nowrap;
    text-align: left;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: rgba(178, 178, 178, 1);
}
